<!DOCTYPE html>
<html>
  <head>
    <title>材料易</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->  
  </head>

  <body>
    <div id="page-wrap">
      <header id="page-header">
        <nav class="navbar navbar-expand bg-transparent navbar-expand-md navbar-dark bg-light justify-content-between fixed-top">
          <div class="container">
            <a href="/" class="navbar-brand text-light">材料易</a>
            <div class="navbar-collapse collapse" id="collapsingNavbar2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-2 ml-md-0 mr-2">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <li class="nav-item ml-2 ml-md-0 mr-2">
                        <a class="btn btn-outline-info" href="/signup">註冊</a>
                    </li>
                </ul>
            </div>
          </div>
        </nav>
        
        <div class="jumbotron jumbotron-fluid">
          <div class="jumbotron-preload"></div>
          <div class="jumbotron-bg"></div>
          <div class="container text-light landing-title" style="text-align: center">
            <h1 class="display-4" style="font-weight: 400">材料易</h1>
            <p class="lead">為你帶來 <b>更平易·更快·更直接</b> 的採購體驗</p>
            <o><a class="btn btn-outline-info" href="/faq">了解更多</a></o>
          </div>
        </div>
        
        <nav id="navbar2" class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
            <div class="container">
              <form class="col-9 col-sm-10 col-md-5">
                <div class="input-group">
                  <select class="custom-select my-2 col-3 d-none d-sm-block" id="inputGroupSelect01">
                    <option value="category" selected>類別</option>
                    <option value="brand">品牌</option>
                    <option value="product">產品</option>
                  </select>
                  <input class="form-control my-2 col-9 col-sm-12" type="search" placeholder="膠板 西德板" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-info my-2" type="submit"><i class="material-icons" style="vertical-align: text-top">search</i></button>
                  </div>
                </div>
              </form>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
              </button> 
              <div class="navbar-collapse collapse" id="collapsingNavbar">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">特價 <span class="badge badge-warning">5</span></a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">防火膠板</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">地板</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">磁磚</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">漆料</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">窗簾</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">玻璃</a>
                      </li>
                      <li class="nav-item ml-2 ml-md-0 mr-2">
                          <a class="nav-link" href="/login">板材</a>
                      </li>
                  </ul>
              </div>
            </div>
          </nav>
          <script>
            // toggle navbar color when scroll
            $(function () {
              var nav = $(".fixed-top");
              var nav2 = $("#navbar2");
              var content = $(".container-outer");
              var contentPaddingTop = content.css("padding-top").replace('px', '');
              var navHeight = nav.outerHeight();
              var navHeight2 = nav2.outerHeight() + Number(contentPaddingTop);
              var sticky = nav2.offset().top - navHeight;
              $(document).scroll(updateNavbar);
  
              function updateNavbar() {
                var scrollTop = $(this).scrollTop();
                //navbar 1
                var isScrolled = scrollTop > 0;
                nav.toggleClass("bg-transparent", !isScrolled);
                nav.toggleClass("bg-dark", isScrolled);
                
                //navbar 2
                isScrolled = scrollTop > sticky;
                nav2.toggleClass("fixed-top", isScrolled);
                nav2.css("top", isScrolled?navHeight:0);
                content.css("padding-top", (isScrolled?navHeight2:contentPaddingTop) + "px");
              }
              updateNavbar();
            });
            //fadein cover image
            $('.jumbotron-bg').imagesLoaded( { background: true }, function(instance) {
              $('.jumbotron-bg').addClass('jumbotron-loaded');
              $(".landing-title").addClass('landing-title-loaded');
            });
          </script>
      </header>

      <!-- Alert if email has not been confirmed -->
      <% if(me&&me.emailChangeCandidate) { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
      </div>
      <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
      </div>
      <% } %>

      <div class="container-outer">
        <div class="container">
          <%- body %>
        </div>
      </div>

      <footer id="page-footer" class="navbar navbar-dark bg-dark justify-content-between">
        <div class="container flex-row-reverse">
          <div class="nav">
            <small class="nav-item"><a class="nav-link text-info" href="/contact">Contact<span class="d-none d-sm-inline"> us</span></a></small>
            <small class="nav-item"><a class="nav-link text-info" href="/legal/terms">Terms<span class="d-none d-sm-inline"> of Use</span></a></small>
            <small class="nav-item"><a class="nav-link text-info" href="/legal/privacy">Privacy<span class="d-none d-sm-inline"> policy</span></a></small>
            <% if(me) { %>
            <small class="nav-item"><a class="nav-link text-info" href="/logout">Sign out</a></small>
            <% } %>
          </div>
          <small class="copy text-light">Copyright &copy; 2018 Home Supply. <br class="xs-only"/>All rights reserved.</small>
        </div>
      </footer>
    </div>


    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Load Stripe Checkout */ %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
